<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/stylesheet/profile.css">
</head>
<body>
    <div class="card">
  <div class="lines"></div>
  <div class="imgBx">
    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="profile">
  </div>
  <div class="content">
    <div class="details">
      <h2>Devansh Agarwal<br><span>Senior Developer</span></h2>
      <div class="data">
        <h3>342<br><span>Posts</span></h3>
        <h3>120k<br><span>Followers</span></h3>
        <h3>285<br><span>Following</span></h3>
      </div>
      <div class="actionBtn">
        <button>Follow</button>
        <button>Message</button>
      </div>
    </div>
    <div class="social-icons">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-linkedin-in"></i></a>
    </div>
  </div>
</div>
</body>
</html>